body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  /*** 100%=16px=1em***/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}
a:hover{
  color: white;
}

hr {
  background-color: #EAF6F6s;
  border-style: dotted none none none;
  width: 5%;
  border-color: gray;
  border-width: 5px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  padding-bottom: 320px;

}

.middle-container {
  background-color: #E0C097;
}

.bottom-container {
  background-color: #66BFBF;
  height: 220px;
}

.bottom-container-div {
  padding-top: 80px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.footer-link {
  color: #11999E;
  margin: auto 30px auto 30px;
  font-size: 1.5rem;
  text-decoration: none;
}
.footer-link-num{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain{
  margin: auto;
  position: absolute;
 left: 0; bottom: 0; right: 0;
}
.skill-row {
  width: 50%;
  margin: 80px auto 150px auto;
  text-align: left;
  line-height: 2;
}

.skill-row1 {
  width: 50%;
  margin: 50px auto 150px auto;
  text-align: left;
  line-height: 2;
}

.skill-img1 {
  width: 25%;
  float: left;
  margin-right: 20px;
}

.skill-img2 {
  width: 25%;
  float: left;
  margin-right: 20px;
}

.skill-img3 {
  width: 25%;
  float: left;
  margin-right: 20px;
}

.down {
  padding-top: 60px;
}

.contact-me {
  padding-bottom: 25px;
}

.button1 {
  border: 0;
  line-height: 2.5;
  height: 50px;
  width: 200px;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #66BFBF;
}
.button1:hover{
  background-color: #30e3cb;
}
.btn {
  color: white;
  text-decoration: none;
}

#personal-image {
  width: 250px;
  height: 250px;
  padding-top: 60px;
}

#hr1 {
  margin-top: 35px;
}

#end {
  color: #EAF6F6;
  padding-top: 30px;
}
